openapi: 3.0.0
info:
  title: Social Media API
  version: 1.0.0
  description: API for managing comments in a social media application
servers:
  - url: https://api.socialmedia.com/v1
paths:
  /posts/{post_id}/comments:
    get:
      summary: Retrieve a list of comments for a specific post
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A list of comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      summary: Add a comment to a post
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewComment'
      responses:
        '201':
          description: Comment added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
  /comments/{comment_id}:
    get:
      summary: Retrieve a specific comment by ID
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Comment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          description: Comment not found
    put:
      summary: Update a comment by ID
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewComment'
      responses:
        '200':
          description: Comment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          description: Comment not found
    delete:
      summary: Delete a comment by ID
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Comment deleted successfully
        '404':
          description: Comment not found

components:
  schemas:
    Comment:
      type: object
      properties:
        id:
          type: integer
          example: 1
        post_id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 1
        content:
          type: string
          example: "This is a sample comment."
        created_at:
          type: string
          format: date-time
          example: "2023-07-21T15:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2023-07-21T16:00:00Z"
    NewComment:
      type: object
      properties:
        user_id:
          type: integer
          example: 1
        content:
          type: string
          example: "This is a sample comment."
